{% extends 'baseF.html.twig'%}
{% block content %}
    <a class="btn btn-outline-secondary mb-2" href="{{ path('app_reclamation_user_index') }}">Retour</a>
    <div class="card">
        <div class="card-body">
            <H1 class="text-secondary align-self-center" style="margin-left: 30%;">Nouvelle Réclamation</H1>
            {{ form_start(form) }}
                {{ form_widget(form._token) }}
                {{ form_row(form.titre) }}
                {{ form_row(form.description) }}
                <button class="btn btn-outline-success">Nouvelle Reclam</button>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}