{% extends 'baseF.html.twig'%}
{% block content %}
    <script src="https://www.google.com/recaptcha/api.js?render=6LeJNsAlAAAAAAYz1Jzw_VEnzp5Hm76SCs1EEU8R>"></script>
    <script>
        const siteKey = '6LeJNsAlAAAAAAYz1Jzw_VEnzp5Hm76SCs1EEU8R';

        //either on page load
        grecaptcha.ready(function() {
            grecaptcha.execute(siteKey, {
                action: 'homepage'
            }).then(function(token) {
                //the token will be sent on form submit
                $('[name="captcha"]').val(token);
                //keep in mind that token expires in 120 seconds so it's better to add setTimeout.
            });
        });
    </script>
    <a class="btn btn-outline-secondary mb-2" href="{{ path('app_reclamation_user_index') }}">Retour</a>
    <div class="card">
        <div class="card-body">
            <H1 class="text-secondary align-self-center" style="margin-left: 30%;">Nouvelle Réclamation</H1>
            {{ form_start(form) }}
                {{ form_widget(form._token) }}
                {{ form_row(form.titre) }}
                {{ form_row(form.description) }}
                {{ form_widget(form.captcha) }}

                <button class="btn btn-outline-success">Nouvelle Reclam</button>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}