{% extends 'baseF.html.twig'%}
{% block content %}
    <script src="https://www.google.com/recaptcha/api.js?render=6LeJNsAlAAAAAAYz1Jzw_VEnzp5Hm76SCs1EEU8R>"></script>
    <script>
        const siteKey = '6LeJNsAlAAAAAAYz1Jzw_VEnzp5Hm76SCs1EEU8R';

        //either on page load
        grecaptcha.ready(function() {
            grecaptcha.execute(siteKey, {
                action: 'homepage'
            }).then(function(token) {
                //the token will be sent on form submit
                $('[name="captcha"]').val(token);
                //keep in mind that token expires in 120 seconds so it's better to add setTimeout.
            });
        });
    </script>
    <script>
        function scrollToBottom() {
            window.scrollTo(0, document.body.scrollHeight);
        }
        history.scrollRestoration = "manual";
        window.onload = scrollToBottom;
    </script>
    <div class="container-fluid d-flex flex-row justify-content-between">
        <div>
            <a class="btn btn-dark m-2 mt-3" href="{{ path('app_reclamation_user_index') }}">Retour </a>
        </div>
        <div class="card">
            <div class="card-body d-flex flex-row gap-1 justify-content-center">
                {% if reclamation.status == "cloturer" %}
                    <button disabled class="btn btn-outline-secondary" >Probleme Réglé</button>
                {% else %}
                    <form method="post" action="{{ path('app_reclamation_user_cloturer', {'idRec': reclamation.idRec}) }}">
                        <input type="hidden" name="_token" value="{{ csrf_token('cloturer' ~ reclamation.idRec) }}" />
                        <button class="btn btn-outline-secondary">Probleme Réglé</button>
                    </form>
                {% endif %}
            </div>
        </div>
    </div>
    <div class="card container">
        <div class="card-body">
            <div class="card m-2">
                <div class="card-body">
                    <div class="row d-flex justify-content-center">
                        <h1 class="text-muted text-center mb-2">{{ reclamation.titre }}</h1>
                        <hr class="w-50">
                    </div>
                    <div class="row">
                        <div class="col-2 d-flex justify-content-center">
                            <img src="{{ asset('images/' ~ last) }}" class="rounded-circle" width="80" height="80"/>
                        </div>
                        <div class="col-1" style="background-color: black; width: 2px; padding: 0;"></div>
                        <div class="col-9">
                            <h5><a class="text-muted align-self-center" href="#">{{ reclamation.userid.nomPers }} {{ reclamation.userid.prenomPers }}</a></h5>
                            <p class="text-dark">{{ reclamation.description }}</p>
                            <p class="text-end text-muted">{{ date }}</p>
                        </div>
                    </div>
                    {% for rep in reps %}
                        <hr>
                        <div class="row">
                            <div class="col-2 d-flex justify-content-center">
                                {% if rep.senderid.idPers == uid %}
                                    <img src="{{ asset('images/' ~ last) }}" class="rounded-circle" width="80" height="80"/>
                                {% else %}
                                    <img src="{{ asset('images/' ~ clientImg) }}" class="rounded-circle" width="80" height="80" />
                                {% endif %}
                            </div>
                            <div class="col-1" style="background-color: black; width: 2px; padding: 0;"></div>
                            <div class="col-9">
                                <div class="d-flex justify-content-between">
                                    <h5><a class="text-muted align-self-center" href="#">{{ rep.senderid.nomPers }} {{ rep.senderid.prenomPers }}</a></h5>
                                    <a class="btn btn-outline-info has-text-weight-bold" href="{{ path('app_reclamation_modifierMessage_user', {'idRep': rep.idRep}) }}">plus</a>
                                </div>                                <p class="text-dark">{{ rep.message }}</p>
                                <p class="text-end text-muted">{{ rep.timestamp|date('d/m/y H:i') }}</p>
                            </div>
                        </div>
                    {% endfor %}
                    <hr>
                    <div class="row mb-2">
                        <div class="col-12">
                            {% if reclamation.status == "cloturer" %}
                                <form method="post" class="row gap-1">
                                    <div class="col-9">
                                        <input type="text" class="form-control form-text disabled" style="width: 75%" disabled/>
                                    </div>
                                    <div class="col-2">
                                        <button class="btn btn-outline-success disabled">Envoyé</button>
                                    </div>
                                </form>
                            {% else %}
                                {{ form_start(form) }}
                                {{ form_widget(form._token) }}
                                <div class="col-9">
                                    {{ form_row(form.message) }}
                                </div>
                                <div class="col-2">
                                    <button class="btn btn-outline-success">Envoyé</button>
                                </div>
                                {{ form_widget(form.captcha) }}
                                {{ form_end(form) }}

                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
