{{ form_start(form, {'attr': {'class': 'was-validated', 'novalidate': 'novalidate'}}) }}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
{# ---------------------------------------- #}
<div
	class="form-layout">
	{# ---------------------------------------- #}
	<div class="form-outer">
		<div class="form-header stuck-header">
			<div class="form-header-inner">
				<div class="left">
					<h3>Votre événement</h3>
				</div>
				<div class="right">
					<div class="buttons">
						<a href="{{ path('app_evenement_index') }}" class="button h-button is-light is-dark-outlined">
							<span class="icon">
								<i class="lnir lnir-arrow-left rem-100"></i>
							</span>
							<span>Annuler</span>
						</a>


						<button id="save-button" type="submit" class="button h-button is-primary is-raised">{{ button_label|default('Suivant') }}</button>
					</div>
				</div>
			</div>
		</div>
		{# ---------------------------------------- #}
		<div
			class="form-body">
			<!--Fieldset-->
			<div class="form-fieldset">
				<div class="columns is-multiline">
					<div
						class="tabs-wrapper is-slider">
						{# ---------------------------------------- #}
						<div class="tabs-inner" style="margin-left: 360px;">
							<div class="tabs">
								<ul>

									<li data-tab="payant-tab" class="is-active">
										<a>
											<span>Payant</span>
										</a>
									</li>
									<li data-tab="gratuit-tab">
										<a>
											<span>Gratuit</span>
										</a>
									</li>
									<li class="tab-naver"></li>
								</ul>
							</div>
						</div>
						{# ---------------------------------------- #}
						<div class="column is-6">
							<div class="field">
								{{ form_label(form.idCateg, 'Insérer la catégorie de votre événement') }}
								{# <div class="control has-icon"> #}
								{# ---------------------------------------- #}
									<div class="control"> <div class="h-select">
										{{ form_widget(form.idCateg, {'attr': {'class': 'input', 'placeholder': ''}}) }}
										<div class="select-icon">
											<i data-feather="chevron-down"></i>
										</div>
									</div>
									<div style="color:#e62965;border-color:#e62965">
										{{ form_errors(form.idCateg,{'attr': {'class': 'invalide-feedback'}}) }}
									</div>
								</div>
								{# ---------------------------------------- #}
							</div>
						</div>
						{# ---------------------------------------- #}
						<div id="gratuit-tab" class="tab-content"></div>
						{# ---------------------------------------- #}
						<div id="payant-tab" class="tab-content is-active">
							<div style="Display:inline-flex">
								<div class="column is-6">

									<div class="field" name='prix' id='prix'>
										{{ form_label(form.prix, 'Insérer le prix') }}
										{{ form_widget(form.prix, {'attr': {'class': 'input', 'placeholder': '', 'oninput': 'filterInput(this)' ,'id': 'Prix-input'}}) }}
										<div style="color:#e62965;border-color:#e62965">
											{{ form_errors(form.prix,{'attr': {'class': 'invalide-feedback'}}) }}
										</div>
									</div>
								</div>
								<div class="column is-6">
									<div class="field" name='nbticket' id='nbticket'>
										{{ form_label(form.limiteparticipant, 'Insérer le nombre de tickets') }}
										{{ form_widget(form.limiteparticipant, {'attr': {'class': 'input', 'placeholder': '' , 'oninput': 'filterInput2(this)' }}) }}
										<div style="color:#e62965;border-color:#e62965">
											{{ form_errors(form.limiteparticipant,{'attr': {'class': 'invalide-feedback'}}) }}
										</div>
									</div>
								</div>
							</div>
						</div>
						{# ---------------------------------------- #}
					</div>
					{# ---------------------------------------- #}
					<div class="column is-12">
						<div class="field">
							{{ form_label(form.titre, 'Insérer le titre de votre événement') }}
							{# <div class="control has-icon"> #}

							{{ form_widget(form.titre, {'attr': {'class': 'input', 'placeholder': ''}}) }}
							<div style="color:#e62965;border-color:#e62965">
								{{ form_errors(form.titre,{'attr': {'class': 'invalide-feedback'}}) }}
							</div>
						</div>
					</div>
					{# ---------------------------------------- #}
					<div class="column is-12">
						<div class="field">
							{{ form_label(form.descriptionEv, 'Insérer la description de votre événement') }}
							{# <div class="control has-icon"> #}
							{{ form_widget(form.descriptionEv, {'attr': {'class': 'input', 'placeholder': ''}}) }}
							<div style="color:#e62965;border-color:#e62965">
								{{ form_errors(form.descriptionEv,{'attr': {'class': 'invalide-feedback'}}) }}
							</div>
						</div>
					</div>
					{# ---------------------------------------- #}
					<div
						class="column is-6">

						<!--Pickaday-->
						<div class="field">
							<label>Séléctionner la date de l'événement</label>
							<div class="control has-icon">
								<input name="event_date" id="pickaday-datepicker" class="input" placeholder="selectionner une date" readonly>
								<div class="form-icon">
									<i data-feather="calendar"></i>
								</div>
							</div>
							{% if errorMessage is not null %}
								<div  style="color:#e62965;border-color:#e62965">{{ errorMessage }}</div>
							{% endif %}
						</div>
					</div>
					{# ---------------------------------------- #}
					<div
						class="column is-6">
						<!--Bulma Timerange picker-->
						<div class="field is-bulma-timepicker">
							<label>Séléctionner l'horaire de l'événement</label>
							<div class="control">
								<input name="event_time" id="bulma-datepicker-6" class="input" type="time" data-is-range="true">
							</div>
							{% if errorMessage2 is not null %}
								<div  style="color:#e62965;border-color:#e62965">{{ errorMessage2 }}</div>
							{% endif %}
						</div>
					</div>
					{# ---------------------------------------- #}
					{# <div class="column is-12">
																																																	<div class="filepond-uploader is-three-grid">
																																																		<div class="control">
																																																			<input type="file" class="filepond" name="filepond" multiple data-allow-reorder="true" data-max-file-size="3MB" data-max-files="8">
																																																		</div>
																																																	</div>
																																																	{# //Instanciate element
																																																	FilePond.create(
																																																		document.querySelector('.filepond-3-grid'),
																																																	); 
																																																</div>#}
				</div>
			</div>
		</div>
	</div>
	{{ form_errors(form) }}
	{# </div> #}
	{{ form_end(form) }}

	{# ---------------------------------------------------- #}
	<script>

	</script>
	{# ---------------------------------------------------- #}
	{# <script>
					var picker = new Pikaday({
					    field: document.getElementById('pickaday-datepicker'),
					    i18n: {
					        previousMonth : 'Mois précédent',
					        nextMonth     : 'Mois suivant',
					        months        : ['Janvier','Février','Mars','Avril','Mai','Juin','Juillet','Août','Septembre','Octobre','Novembre','Décembre'],
					        weekdays      : ['Dimanche','Lundi','Mardi','Mercredi','Jeudi','Vendredi','Samedi'],
					        weekdaysShort : ['Dim','Lun','Mar','Mer','Jeu','Ven','Sam']
					    }
					});
					
				</script> #}
	{# ---------------------------------------------------- #}
	{# <script>
		const inputs = document.querySelectorAll('input[required]');
		const submitBtn = document.querySelector('#save-button');
		// console.log(submitBtn);
		inputs.forEach(input => {
		input.addEventListener('input', () => {
		let allFilled = true;
		inputs.forEach(input => {
		if (input.value.trim() === '') {
		allFilled = false;
		}
		});
		if (allFilled) {
		submitBtn.removeAttribute('disabled');
		} else {
		submitBtn.setAttribute('disabled', 'disabled');
		}
		});
		});
			</script> #}
	{# ---------------------------------------------------- #}
		<script>
$(document).ready(function () {
var activeTab = 'gratuit-tab';
const nbTicketInput = document.querySelector('#evenement_limiteparticipant');
const prixInput = document.querySelector('#evenement_prix');
prixInput.value = 0;
nbTicketInput.value = 0;
// console.log('AAAAADDDDD',nbTicketInput.value);
// console.log('AAAAA',prixInput.value);
$('#' + activeTab).addClass('is-active');
$('.tabs ul li').on('click', function () {
$('.tabs ul li').removeClass('is-active');
$(this).addClass('is-active');
var tab = $(this).data('tab');

// console.log(tab);


if (tab == 'gratuit-tab') {
prixInput.value = 0;
nbTicketInput.value = 0;
}
// console.log('AAAAADDDDD',nbTicketInput.value);
// console.log('AAAAA',prixInput.value);


});
});
	</script>

	{# ---------------------------------------------------- #}
		<script>

var dateInput = document.getElementById('pickaday-datepicker');
console.log("1", dateInput.value);
dateInput.addEventListener('change', function () {
var pickedDate = new Date(dateInput.value);
var today = new Date();
today.setHours(0, 0, 0, 0);


if (pickedDate <= today) {
alert("La date sélectionnée doit etre supérieur à la date actuelle.");
pickedDate.setDate(today.getDate() + 1);
dateInput.value = pickedDate.toLocaleString('default', {
day: 'numeric',
month: 'short',
year: 'numeric'
});
console.log("2", dateInput.value);
} else {
dateInput.value = pickedDate.toLocaleString('default', {
day: 'numeric',
month: 'short',
year: 'numeric'
});
console.log("3", dateInput.value);
}
});
	</script>

	{# ---------------------------------------------------- #}
		<script>
function filterInput(input) {
var regex = /^\d+(?:\.\d{1,4})?$/;
// var regex = /^[0-9]+(?:\.[0-9]+)?$/
var filteredValue1 = '';
var filteredValue = '';

for (var i = 0; i < input.value.length; i++) {
var char = input.value.charAt(i);
filteredValue1 += char + "1";
console.log("char  " + char);
console.log("filteredbeforecheck  " + filteredValue1);
if (regex.test(filteredValue1)) {
filteredValue += char;
filteredValue1 = filteredValue1.substring(0, filteredValue1.length - 1);
console.log("filteredaftercheck  " + filteredValue);
}
}
input.value = filteredValue;
}
	</script>

	{# ---------------------------------------------------- #}
		<script>
function filterInput2(input) {

var regex = /^(?!0\d)\d+$/;
var filteredValue = '';
var filteredValue1 = '';
for (var i = 0; i < input.value.length; i++) {
var char = input.value.charAt(i);
filteredValue1 += char;
console.log("char  " + char);
console.log("filteredbeforecheck  " + filteredValue1);
if (regex.test(filteredValue1)) {
filteredValue += char;
console.log("filteredaftercheck  " + filteredValue);
}
}
input.value = filteredValue;
}
	</script>
