{% extends 'baseAdmin.html.twig'%}

{% block content %}

	<div class="page-breadcrumb d-none d-sm-flex align-items-center mb-3">

		<div style="color:#758afd;font-size:25px;font-style:bold">Utilisateurs</div>
		<div class="search-bar flex-grow-1" style="margin-left:20%;">
			<div class="position-relative search-bar-box">
				<form id="annuite_form" class="form" action="{{ path('app_personne_index') }}" enctype="multipart/form-data" method="GET">
					<br>
					<input type="text" name="search1" style="border-radius:20px;border: 2px solid #aeb8ff" value="{{ search }}" class="form-control search-control" id="search-term" placeholder="Rechercher...">
				<br>
				<center>
				<label for="criteria">Recherche par:</label>
				
						<select id="criteria" name="criteria" style="height:31px;border-radius:5px;color:white;background-color:#ff8601;border-color:#ff8601;font-size:15px">
							<option value="nom" {% if app.request.query.get('criteria') == 'nom' %} selected {% endif %}>Nom</option>
							<option value="prenom" {% if app.request.query.get('criteria') == 'prenom' %} selected {% endif %}>Prénom</option>
							<option value="adresse" {% if app.request.query.get('criteria') == 'adresse' %} selected {% endif %}>Adresse</option>
						</select>
						</center>
				</form>
				
				<span class="position-absolute top-50 search-show translate-middle-y">
					<i class='bx bx-search' style="color:#aeb8ff; margin-bottom:31px;"></i>
				</span>
				<span class="position-absolute top-50 search-close translate-middle-y">
					<i class='bx bx-x' style="color:white"></i>
				</span>
			</div>
		</div>
	</div>
	<button type="button" style="margin-left: 1350px;border-radius:10px;
																						color:white;
																						background-color:#aeb8ff;
																						border-color:#aeb8ff;
																						font-size:19px" class="btn btn-primary" onclick="window.location.href='{{ path('app_personne_new') }}'">Ajouter un utilisateur</button>
	<br>
	<br>


	<br>
	<form class="form" action="{{ path('app_personne_index')}}" method="GET">
		<select name="inputfilter" id="filterService" style="height:31px;border-radius:5px;color:white;background-color:#ff8601;margin-bottom:10px;border-color:#ff8601;font-size:15px">
			<option value="" name="choose">choisissez</option>

			<option value="admin" name="inputfilter">admin</option>
			<option value="organisateur" name="inputfilter">organisateur</option>
			<option value="partenaire" name="inputfilter">partenaire</option>

		</select>
	</form>
	<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
	<script>
		$(document).ready(function () {
$('#filterService').on('change', function () {
$(this).closest('form').submit();
});
});
	</script>

	<div class="row row-cols-1 row-cols-lg-2 row-cols-xl-4">
		{% for personne in personnes %}
			<div class="col">
				<div class="card radius-15">
					<div class="card-body text-center">
						<div class="p-4 border radius-15">

							<h5 class=" mt-2">{{ personne.nomPers }}
								{{ personne.prenomPers }}</h5>
							<p class="mb-1">{{ personne.role }}</p>
							<p class="mb-1">
								<i class="bx bxs-phone"></i>
								{{ personne.numTel }}</p>
							<p class="mb-1">Adresse:
								{{ personne.adresse }}</p><br>
							<div style="display: flex; align-items:center;margin-left:110px;text-align:center;">

								{{ include('templates_back/personne/_delete_form.html.twig') }}
								<a href="{{ path('app_personne_edit',{'idPers':personne.idPers}) }}" style=" border-radius:40px; background-color:#758afd; border-color:#758afd; height:30px; width:30px; display: flex; justify-content: center; align-items: center;color:white">
									<i class='bx bx-edit' style="font-size:20px"></i>
								</a>

							</div>


							<p class="mb-0 mt-4">
								<i class="bx bxs-message"></i>
								{{ personne.email }}</p>


						</div>
					</div>
				</div>
			</div>
		{% else %}
			<br>
			<tr>
				<td colspan="11">Aucun utilisateur trouvé</td>
			</tr>
		{% endfor %}
	</div>
<div class="pagination justify-content-center">
						{{ knp_pagination_render(personnes,'bootstrap_v4_pagination.html.twig') }}
					</div>

{% endblock %}
