<!DOCTYPE html>
<html lang="en">
	<head>
		<!-- Required meta tags  -->
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<meta http-equiv="x-ua-compatible" content="ie=edge">

		<title>
			Evëntili :: Email envoyé</title>
 <link rel="icon" type="image/png" href="{{asset('assets/img/App-logo-dark.png')}}"/>
	
		<!--Core CSS -->
		<link rel="stylesheet" href="../assets/css/app.css">
		<link
		rel="stylesheet" href="../assets/css/main.css">

		<!-- Fonts -->
		<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700;800;900&display=swap" rel="stylesheet">
		<link
		href="https://fonts.googleapis.com/css?family=Roboto:300,400,700" rel="stylesheet">
		<!--flashy!-->
		<link rel="stylesheet" href="{{ asset('bundles/mercuryseriesflashy/css/flashy.css') }}">
		<link href="//fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
		<link href='//fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700' rel='stylesheet'><!--flashy!-->
		<!-- Fonts --><script src="//code.jquery.com/jquery.js"> </script>
		<!-- Load Flashy default JavaScript -->
		<script src="{{ asset('bundles/mercuryseriesflashy/js/flashy.js') }}"></script>
		<script src="https://www.google.com/recaptcha/api.js" async defer></script>

	</head>

	<body>
		<div id="huro-app" class="app-wrapper">

			<!--Full pageloader-->
			<!-- Pageloader --><div class="pageloader is-full"> </div>
			<div class="infraloader is-full is-active"></div>
			<div
				class="auth-wrapper">
				<!--Page body-->

				<div class="modern-login">

					<div class="underlay h-hidden-mobile h-hidden-tablet-p"></div>

					<div class="columns is-gapless is-vcentered">
						<div class="column is-relative is-8 h-hidden-mobile h-hidden-tablet-p">
							<div class="hero is-fullheight is-image">
								<div class="hero-body">
									<div class="container">
										<div class="columns">
										<div style="    width: 529px;
												    " class="column">
												<script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
												<lottie-player src="https://assets8.lottiefiles.com/packages/lf20_xlmz9xwm.json" background="transparent" speed="1" style="width: 529px;margin-left: 297px;" loop autoplay></lottie-player>
											</div>
									</div>
								</div>
							</div>
						</div>
						<div class="column is-4 is-relative">
							<a class="top-logo" href="/">
							<img style="max-width: 136px;"class="light-image" src="../assets/img/logos/logo/logo.png" alt="">
								<img style="max-width: 136px;" class="dark-image" src="../assets/img/logos/logo/logo.png" alt="">
							</a>
							<label class="dark-mode ml-auto">
								<input type="checkbox" checked>
								<span></span>
							</label>
							<div style="margin-top: 64px;"class="is-form">
								<div class="hero-body">
									<div class="form-text">
										<h2>Email envoyé</h2>
									</div>
									<br>
									<br>
									<div class="form-text ">
										<p>Si le compte existe, alors un email a été envoyé qui contient le lien pour le reset de mot de passe.
																															        Ce lien expire dans
											{{ resetToken.expirationMessageKey|trans(resetToken.expirationMessageData, 'ResetPasswordBundle') }}.
										</p>
										<p>Si vous ne recevez pas l'email veuillez consulter votre dossier spam ou
										<a href="{{ path('app_forgot_password_request') }}">Renvoyez</a>.</p>
									</div>
									<form id="login-form" method="POST" class="login-wrapper">

									</form>
								</div>
							</div>

						</div>
					</div>
				</div>
			</div>

			<!--Huro Scripts-->
			<!-- Concatenated plugins -->
			<script src="../assets/js/app.js"></script>

			<!-- Huro js -->
			<script src="../assets/js/functions.js"></script>
			<script src="../assets/js/auth.js"></script>
		</div>
	</body>

</html>
