<!DOCTYPE html>
<html lang="en">

	<head>
		<!-- Required meta tags  -->
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<meta http-equiv="x-ua-compatible" content="ie=edge">

		<title>
			Evëntili :: Réinitialisation</title>
 <link rel="icon" type="image/png" href="{{asset('assets/img/App-logo-dark.png')}}"/>
	
		<!--Core CSS -->
		<link rel="stylesheet" href="../assets/css/app.css">
		<link
		rel="stylesheet" href="../assets/css/main.css">

		<!-- Fonts -->
		<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700;800;900&display=swap" rel="stylesheet">
		<link
		href="https://fonts.googleapis.com/css?family=Roboto:300,400,700" rel="stylesheet">
		<!--flashy!-->
		<link rel="stylesheet" href="{{ asset('bundles/mercuryseriesflashy/css/flashy.css') }}">
		<link href="//fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
		<link href='//fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700' rel='stylesheet'>

		<!--flashy!-->
		<!-- Fonts --><script src="//code.jquery.com/jquery.js"> </script>
		<!-- Load Flashy default JavaScript -->
		<script src="{{ asset('bundles/mercuryseriesflashy/js/flashy.js') }}"></script>
		<script src="https://www.google.com/recaptcha/api.js" async defer></script>

	</head>

	<body>
		<div id="huro-app" class="app-wrapper">

			<!--Full pageloader-->
			<!-- Pageloader --><div class="pageloader is-full"> </div>
			<div class="infraloader is-full is-active"></div>
			<div
				class="auth-wrapper">
				<!--Page body-->

				<div class="modern-login">

					<div class="underlay h-hidden-mobile h-hidden-tablet-p"></div>

					<div class="columns is-gapless is-vcentered">
						<div class="column is-relative is-8 h-hidden-mobile h-hidden-tablet-p">
							<div class="hero is-fullheight is-image">
								<div class="hero-body">
									<div class="container">
										<div class="columns">
											<div style="    width: 529px;
												    " class="column">
												<script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
												<lottie-player src="https://assets8.lottiefiles.com/packages/lf20_xlmz9xwm.json" background="transparent" speed="1" style="width: 529px;margin-left: 297px;" loop autoplay></lottie-player>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="column is-4 is-relative">
							<a class="top-logo" href="/">
							<img style="max-width: 136px;"class="light-image" src="../assets/img/logos/logo/logo.png" alt="">
								<img style="max-width: 136px;" class="dark-image" src="../assets/img/logos/logo/logo.png" alt="">
							</a>
							<label class="dark-mode ml-auto">
								<input type="checkbox" checked>
								<span></span>
							</label>
							<div class="is-form">
								<div style="padding: 7rem 1rem;" class="hero-body">
									<div class="form-text">
										<h2>récupérer votre compte</h2>
										<p>Réinitialiser le mot de passe.</p>
									</div>

{{ form_start(requestForm) }}
										
						<div class="form-body">
							<div class="fieldset">

								<!--Field-->
								<div class="column is-12">
									<div class="field">
										<div class="control has-icon">
                                        {{ form_widget(requestForm.email, {'attr': {'class': 'input', 'placeholder': 'E-mail'}}) }}

											<div>
												<small style="color:#c1c3cf;">
													Entrez votre email et un lien vous sera envoyé.
												</small>
											</div>
											<div class="form-icon">
												<i data-feather="mail"></i>
											</div>
										</div>
									</div>
								</div>
								<br>

											<button style="margin-left:46px;" id="cancel-recover" type="button" class="button h-button is-white is-big is-rounded is-lower">Cancel</button>
										<button id="save-button"style="margin-left:20px; width: 140px;" type="submit" class="button h-button is-solid is-big is-rounded is-lower is-raised is-colored">{{ button_label|default('Confirmer') }}</button>
										

							</div>
						</div>

						{{ form_end(requestForm) }}


								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<!--Huro Scripts-->
			<!-- Concatenated plugins -->
			<script src="../assets/js/app.js"></script>

			<!-- Huro js -->
			<script src="../assets/js/functions.js"></script>
			<script src="../assets/js/auth.js"></script>
		</div>
	</body>

</html>
