{% block title %}
	<title>Eventili</title>
    <link rel="icon" type="image/png" href="../assets/img/favicon.png" />
        <!--Core CSS -->
    <link rel="stylesheet" href="../assets/css/app.css" />
    <link rel="stylesheet" href="../assets/css/main.css" />

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700;800;900&display=swap" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,700" rel="stylesheet" />

    <!-- BlumaCalendar -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma-calendar/dist/css/bulma-calendar.min.css">
{% endblock %}
{% block naver %}
	<div class="naver" style="top:-150px;"></div>
{% endblock %}

{% block content %}


    <div id="huro-app" class="app-wrapper">
        <!--Full pageloader-->
        <!-- Pageloader -->
        <div class="pageloader is-full"></div>
        <div class="infraloader is-full is-active"></div>
        <div class="minimal-wrapper light">
            <!--Page body-->

            <div class="landing-page-wrapper">
                <!-- Hero and Navbar -->
                <div id="huro-landing" class="hero is-fullheight rounded-hero">

                    <!-- Navbar partial -->
                    <nav class="navbar is-fixed-top is-transparent is-docked" aria-label="main navigation">
                        <div class="navbar-brand">
                            <a class="navbar-item" href="/">
                                <div class="brand-icon">
                                   
                                    <img class="light-image" src="/assets/img/App-logo-dark.png" alt="" style="width:70px;height:70px;">
                                </div>
                            </a>

                            <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false">
                                <span aria-hidden="true"></span>
                                <span aria-hidden="true"></span>
                                <span aria-hidden="true"></span>
                            </a>
                        </div>

                        <div class="navbar-menu">
                            <div class="navbar-start">
                              
                            </div>

                            <div class="navbar-end">
                                <div class="navbar-item is-theme-toggle">
                                    <label class="theme-toggle">
                                        <input id="navbar-night-toggle--daynight" type="checkbox">
                                        <span class="toggler">
                                        <span class="dark">
                                            <i data-feather="moon"></i>
                                        </span>
                                        <span class="light">
                                            <i data-feather="sun"></i>
                                        </span>
                                        </span>
                                    </label>
                                </div>
                                <div class="navbar-item">
                                    <a href="{{ path('app_personne_verif') }}" class="nav-link">Se connecter</a>
                                </div>
                                <div class="navbar-item">
                                <button type="button" class="button h-button is-rounded is-primary is-raised" onclick="window.location.href='{{ path('app_personne_signin') }}'"><strong>S'isncrire</strong></button>
                                     
                                    </a>
                                </div>
                            </div>
                        </div>
                    </nav>
                    <div class="absolute-header">
                        <div class="header-inner">
                            <img class="cut-circle light-image-l" src="../assets/img/shapes/cut-circle.svg" alt="">
                            <img class="cut-circle dark-image-l" src="../assets/img/shapes/cut-circle-dark.svg" alt="">
                        </div>
                    </div>

                    <div class="hero-body has-text-centered">
                        <div class="container">
                            <div class="switch-wrapper">
                                <div class="night-toggle night-toggle--daynight">
                                    <input type="checkbox" id="night-toggle--daynight" class="night-toggle--checkbox" checked>
                                    <label class="night-toggle--btn" for="night-toggle--daynight"><span
                                        class="night-toggle--feature"></span></label>
                                </div>
                            </div>
                            <h1 class="title is-1 is-bold is-light is-bold">The World Needs a <span>Huro</span>.</h1>
                            <h3 class="subtitle is-4 is-light">Premium Webapp UI Kit. </h3>

                        </div>
                    </div>

                    <canvas id="demo-canvas"></canvas>
                </div>

                <!--Stacks Section-->
                <div id="stacks-section" class="section">
                    <div class="container">

	<link rel="stylesheet" href="{{ asset('assets/css/owl.carousel.min.css') }}"/>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css" integrity="sha512-sMXtMNL1zRzolHYKEujM2AqCLUR9F2C4/05cdbxjjLSRvMQIciEPCQZo++nk7go3BtSuK9kfa/s+a4f4i5pLkw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script src="{{ asset('bundles/mercuryseriesflashy/js/flashy.js') }}"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js" integrity="sha512-bPs7Ae6pVvhOSiIcyUClR7/q2OAsRiovw4vAkX+zJbw3ShAeeqezq50RIIcIURq7Oa20rW2n2q+fyXBNcU9lrw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
	<link rel="stylesheet" href="{{ asset('bundles/mercuryseriesflashy/css/flashy.css') }}">

	
	
	<div class="page-content-inner">
		<div class="columns is-multiline">
			<section class="articles">
				{% for event in event %}
                 {% if event.type == "Payant" and event.visibilite == "Public" %}

					<div class="column is-16">
						<article>

							<a class="h-modal-trigger" data-modal="details-modal-{{ event.idEv }}">
							
							{{ include('templates_front/evenement/modals.html.twig') }}
								<div>
									<figure>
										
                                         {% for img in Img %}
								        {% for j in event %}
								         {% if img.idEven.idEv == j.idEv %}
											<img src="http://localhost/img/{{ img.Img }}" alt=""/>
										{% else %}
											<img src="https://estuario.org/wp-content/uploads/2019/09/image.png" alt=""/>
										{% endif %}
                                        {% endfor %}	
								{% endfor %}
										<div class="figLabel">
											{% if event.prix == 0 %}
												{{ event.prix ~" DT" }}
											{% else %}
												{{ event.prix ~" DT" }}
											{% endif %}
										</div>
										<figcaption>
											<div class="card">
												<div class="month-container">
													<div class="month">{{event.dateDebut | date('F')}}</div>
												</div>
												<div class="day">{{event.dateDebut | date('D')}}</div>
												<div class="date">{{event.dateDebut | date('d')}}</div>
												<div class="year">{{event.dateDebut | date('Y')}}</div>
											</div>
										</figcaption>
									</figure>
									<div class="article-body">
										<h2>{{event.titre}}</h2>
										<p style="font-size: small;">{{ event.descriptionEv|slice(0, 180) ~ (event.descriptionEv|length > 180 ? '...' : '') }}</p>
									</div>
								</div>
							</a>
					
							<div class="button-container"  style="margin-right: 50px;">
								<a href="{{ path('app_personne_accueil') }}" class="button h-button is-primary is-rounded">Acheter Votre Ticket</a>
							</div>
						</article>
					</div>

                    {% endif %}
				{% endfor %}
                	
			</section>
		</div>

	</div>





                

                        <!--Boxed Features
                        <div class="boxed-features">
                            <div class="flex-card light-bordered hover-inset">
                                <div class="flex-cell is-bordered">
                                    <i class="lnil lnil-toolbox"></i>
                                    <h3>1000+ Components</h3>
                                    <p>An incredible set of building blocks with dark mode support.</p>
                                </div>
                                <div class="flex-cell is-bordered">
                                    <i class="lnil lnil-display-alt"></i>
                                    <h3>220+ Demos</h3>
                                    <p>Huro ships with a huge number of demos to kickstart your project.</p>
                                </div>
                                <div class="flex-cell is-bordered">
                                    <i class="lnil lnil-moon"></i>
                                    <h3>Native Dark Mode</h3>
                                    <p>Every single piece of UI is natively dark mode ready.</p>
                                </div>
                                <div class="flex-cell is-bordered no-border-edge">
                                    <i class="lnil lnil-rocket"></i>
                                    <h3>Active Support</h3>
                                    <p>Our support helps you solve any issues you have</p>
                                </div>
                                <div class="flex-cell">
                                    <i class="lnil lnil-code"></i>
                                    <h3>Clean Code</h3>
                                    <p>Huro's codebase is huge, but structured and easy to understand</p>
                                </div>
                                <div class="flex-cell">
                                    <i class="lnil lnil-plug"></i>
                                    <h3>Premium Icons</h3>
                                    <p>Huro ships with the premium Line Icons set ($30 value).</p>
                                </div>
                                <div class="flex-cell">
                                    <i class="lnil lnil-mobile-alt-2"></i>
                                    <h3>Fully Responsive</h3>
                                    <p>Huro is built with Bulma 0.9, a mobile first framework</p>
                                </div>
                                <div class="flex-cell no-border-edge">
                                    <i class="lnil lnil-file-name"></i>
                                    <h3>Extensive Docs</h3>
                                    <p>A nice documentation to help you get started fast</p>
                                </div>
                            </div>
                        </div>-->

                  
                    </div>
                </div>

          
                <div id="huro-demos-list" class="section section-focus">
                    <div class="container">
                        <!--Title-->
                        <div class="section-title has-text-centered">
                            <h2 class="title is-2">Outstanding Demos</h2>
                            <h4>Check out a wide variety of demo pages.</h4>
                        </div>

            
            </div>
        </div>

        <!--Huro Scripts-->
        <!--Load Mapbox-->

        <!-- Concatenated plugins -->
        <script src="../assets/js/app.js"></script>

        <!-- Huro js -->
        <script src="../assets/js/functions.js"></script>
        <script src="../assets/js/main.js" async></script>
        <script src="../assets/js/components.js" async></script>
        <script src="../assets/js/popover.js" async></script>
        <script src="../assets/js/widgets.js" async></script>


        <!-- Additional Features -->
        <script src="../assets/js/touch.js" async></script>

        <!-- Landing page js -->
        <script src="../assets/js/landing.js" async></script>

  

        <script src="../assets/js/syntax.js" async></script>
    </div>


{% endblock %}

	<script>
	$('.owl-carousel').owlCarousel({
    loop:true,
    margin:0,
    nav:true,
	autoplay:true,
	autoplayTimeout: 2000,
	stagePadding: 80,
    responsive:{
        0:{
            items:1
        },
        600:{
            items:1
        },
        1000:{
            items:1
        }
    }
})
	</script>

