<h1>Debugging variables</h1>

<p>amountSelection: {{ amountSelection }}</p>
<p>impression: {{ impression }}</p>
<p>dateDebut: {{ dateDebut }}</p>
<p>dateFin: {{ dateFin }}</p>
<p>personne: {{ personne }}</p>
<p>last: {{ last }}</p>
<p>last: {{ id_trans }}</p>