{% extends 'baseFront.html.twig'%}
{% block title %}
	<title>profil</title>
{% endblock %}
{% block naver %}
	<div class="naver" style="top:-90px;"></div>
{% endblock %}
{% block PageTitle %}
	<div class="title-wrap">
		<h1 class="title is-4">Mon profil</h1>
	</div>
{% endblock %}
{% block content %}
	<link rel="stylesheet" href="{{ asset('assets/css/owl.carousel.min.css') }}"/>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css" integrity="sha512-sMXtMNL1zRzolHYKEujM2AqCLUR9F2C4/05cdbxjjLSRvMQIciEPCQZo++nk7go3BtSuK9kfa/s+a4f4i5pLkw==" crossorigin="anonymous" referrerpolicy="no-referrer"/>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script src="{{ asset('bundles/mercuryseriesflashy/js/flashy.js') }}"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js" integrity="sha512-bPs7Ae6pVvhOSiIcyUClR7/q2OAsRiovw4vAkX+zJbw3ShAeeqezq50RIIcIURq7Oa20rW2n2q+fyXBNcU9lrw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
	<link rel="stylesheet" href="{{ asset('bundles/mercuryseriesflashy/css/flashy.css') }}">

	<div class="page-content is-relative">

		

		<div
			class="page-content-inner">

			<!--Edit Profile-->
			<div class="account-wrapper">
				<div
					class="columns">

					<!--Navigation-->
					<div class="column is-4">
						<div class="account-box is-navigation">


							<div class="account-menu">
								<a  class="account-menu-item is-active">
									<i class="lnil lnil-user-alt"></i>
									<span>General</span>
									<span class="end">
										<i aria-hidden="true" class="fas fa-arrow-right"></i>
									</span>
								</a>

							</div>
						</div>
					</div>

					<!--Form-->
					<div class="column is-8">
						<div class="account-box is-form is-footerless"></form>
						<form method="POST" action="{{ path('app_imagepers_modifier') }}" enctype="multipart/form-data">
							<div class="form-head stuck-header">
								<div class="form-head-inner">
									<div class="left">
										<h3>Info Générale</h3>
										<p>Saisissez vos informations Personnelles</p>
									</div>
									<div class="right">
										<div class="buttons">

											<a href="{{ path('app_personne_editprofil')}}" class="button h-button is-light is-dark-outlined">
												<span class="icon">
													<i class="lnir lnir-arrow-left rem-100"></i>
												</span>
												<span>Retour</span>
											</a>
											<a href="{{ path('app_imagepers_affich')}}" style="background-color: #ff6e20;" class="button h-button is-primary is-raised">Ignorer</a>


										</div>
									</div>
								</div>
							</div>
							<div
								class="form-body">
								<!--Fieldset-->
								<div class="fieldset">
									<div style="text-align: center;" class="fieldset-heading">
										<h4>photo de profil</h4>
									</div>

									{#----#}
									<div class="container">
										<figure class="image-container">
											<div class="h-avatar profile-h-avatar ">
												<img style="margin-left: 121px; width: 50%;" id="chosen-image" src="{{ asset('images/' ~ last) }}">
											</div>
											<figcaption id="file-name"></figcaption>
										</figure>
										<input name="filepond" style="display:none;" type="file" id="image" name="image">
										<br>
										<label style="background-color:#aeb8ff;border-color:#aeb8ff;color:white;font-family:'Rubik',sans-serif;position:relative;display:block;font-size:18px;text-align:center;padding:18px 0;width:200px;border-radius:5px;margin-left:138px;" for="image">
											<i class="fas fa-upload"></i>
											&nbsp; Choisir
										</label>
										<br>
										<button style="margin-left:183px" name="submit" id="save-button" type="submit" class="button h-button is-primary is-raised">{{ button_label|default('Enregistrer') }}</button>

									</div>
									{#----#}
									<!--Script-->
									<script>
										let uploadButton = document.getElementById("image");
let chosenImage = document.getElementById("chosen-image");
let fileName = document.getElementById("file-name");

uploadButton.onchange = () => {
let reader = new FileReader();
reader.readAsDataURL(uploadButton.files[0]);
reader.onload = () => {
chosenImage.setAttribute("src", reader.result);
} fileName.textContent = uploadButton.files[0].name;
}
									</script>
									<!--Script-->

								</div>
								<!--Fieldset-->

								<div class="fieldset">
									<div class="columns is-multiline"></div>
								</div>


							</div>

						</div>
					</div>

				</div>
			</div>

		</div>


	{% endblock %}
