{% extends 'baseFront.html.twig'%}
{% block title %}
	<title>profil</title>
{% endblock %}
{% block naver %}
	<div class="naver" style="top:-90px;"></div>
{% endblock %}
{% block PageTitle %}
	<div class="title-wrap">
		<h1 class="title is-4">Mon profil</h1>
	</div>
{% endblock %}
{% block content %}
	<link rel="stylesheet" href="{{ asset('assets/css/owl.carousel.min.css') }}"/>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css" integrity="sha512-sMXtMNL1zRzolHYKEujM2AqCLUR9F2C4/05cdbxjjLSRvMQIciEPCQZo++nk7go3BtSuK9kfa/s+a4f4i5pLkw==" crossorigin="anonymous" referrerpolicy="no-referrer"/>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script src="{{ asset('bundles/mercuryseriesflashy/js/flashy.js') }}"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js" integrity="sha512-bPs7Ae6pVvhOSiIcyUClR7/q2OAsRiovw4vAkX+zJbw3ShAeeqezq50RIIcIURq7Oa20rW2n2q+fyXBNcU9lrw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
	<link rel="stylesheet" href="{{ asset('bundles/mercuryseriesflashy/css/flashy.css') }}">

	<div class="page-content is-relative">

		<div
			class="page-content-inner">

			<!--Edit Profile-->
			<div class="account-wrapper">
				<div
					class="columns">

					<!--Navigation-->
					<div class="column is-4">
						<div class="account-box is-navigation">


							<div class="account-menu">
								<a href="/admin-profile-edit-1.html" class="account-menu-item is-active">
									<i class="lnil lnil-user-alt"></i>
									<span>General</span>
									<span class="end">
										<i aria-hidden="true" class="fas fa-arrow-right"></i>
									</span>
								</a>
								
							</div>
						</div>
					</div>

					<!--Form-->
					<div class="column is-8">
						<div class="account-box is-form is-footerless">

							<form method="POST" id="my_form" action="{{ path('app_personne_change') }}">
								<div class="form-head stuck-header">
									<div class="form-head-inner">
										<div class="left">
											<h3>Info Générale</h3>
											<p>Saisissez vos informations Personnelles</p>
										</div>

										<div class="right">
											<div class="buttons">

												<a href="{{ path('app_imagepers_affich')}}" class="button h-button is-light is-dark-outlined">
													<span class="icon">
														<i class="lnir lnir-arrow-left rem-100"></i>
													</span>
													<span>Retour</span>
												</a>
												<a href="{{ path('app_imagepers_modifier')}}" style="background-color: #ff6e20;" class="button h-button is-primary is-raised">Ignorer</a>

												<button id="save-button" type="submit" class="button h-button is-primary is-raised">{{ button_label|default('Suivant') }}</button>

											</div>
										</div>
									</div>
								</div>


								<div class="form-body">

									<div class="fieldset">
										<div class="fieldset-heading">
											<h4>Mot de passe</h4>
											<p>Changer le mot de passe</p>
										</div>


										<div class="column is-12">
											<div class="field">
												<div class="control has-icon">
													<input id="new_password" name="new_password" type="password" class="input" placeholder="Nouveau mot de passe">
													<div class="form-icon">
														<i data-feather="key"></i>
													</div>
												</div>
												<br>
												<p id="error_message" style=" color: red;
																																																																																					    font-size: 14px;
																																																																																					    margin-top: 5px; "></p>
												<!-- Élément pour afficher le message d'erreur -->
											</div>
										</div>


										<br>


										<script>
											// Récupérer l'élément input pour le nouveau mot de passe
var newPasswordInput = document.getElementById("new_password");
// Récupérer l'élément pour afficher le message d'erreur
var errorMessage = document.getElementById("error_message");
// Récupérer le formulaire
var form = document.getElementById("my_form");

// Ajouter un écouteur d'événement sur le champ de saisie
newPasswordInput.addEventListener("input", function () {
var newPassword = newPasswordInput.value;

// Vérifier si la longueur du mot de passe est inférieure à 8 caractères
if (newPassword.length < 8) { // Mettre à jour le texte du message d'erreur
errorMessage.textContent = "Le nouveau mot de passe doit contenir au moins 8 caractères.";
} else if (!/\d/.test(newPassword) || !/[a-zA-Z]/.test(newPassword)) { // Vérifier si le mot de passe ne contient pas de chiffre ou de caractère
errorMessage.textContent = "Le mot de passe doit contenir au moins un chiffre ou un caractère.";
} else { // Réinitialiser le texte du message d'erreur
errorMessage.textContent = "";
}
});

// Ajouter un écouteur d'événement sur la soumission du formulaire
form.addEventListener("submit", function (event) {
var newPassword = newPasswordInput.value;
// Vérifier si la longueur du mot de passe est inférieure à 8 caractères
if (newPassword.length < 8 || !/\d/.test(newPassword) || !/[a-zA-Z]/.test(newPassword)) { // Empêcher la soumission du formulaire
event.preventDefault();
// Mettre à jour le texte du message d'erreur
errorMessage.textContent = "Le nouveau mot de passe doit contenir au moins 8 caractères et inclure au moins un chiffre et un caractère.";
} else { // Réinitialiser le texte du message d'erreur
errorMessage.textContent = "";
}
});
										</script>
									</div>


								</div>
							</form>

						</div>
					</div>

				</div>
			</div>

		</div>


	{% endblock %}
