{% extends 'baseFront.html.twig'%}
{% block title %}
	<title>profil</title>
{% endblock %}
{% block naver %}
	<div class="naver" style="top:-90px;"></div>
{% endblock %}
{% block PageTitle %}
	<div class="title-wrap">
		<h1 class="title is-4">Mon profil</h1>
	</div>
{% endblock %}
{% block content %}
	<link rel="stylesheet" href="{{ asset('assets/css/owl.carousel.min.css') }}"/>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css" integrity="sha512-sMXtMNL1zRzolHYKEujM2AqCLUR9F2C4/05cdbxjjLSRvMQIciEPCQZo++nk7go3BtSuK9kfa/s+a4f4i5pLkw==" crossorigin="anonymous" referrerpolicy="no-referrer"/>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script src="{{ asset('bundles/mercuryseriesflashy/js/flashy.js') }}"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js" integrity="sha512-bPs7Ae6pVvhOSiIcyUClR7/q2OAsRiovw4vAkX+zJbw3ShAeeqezq50RIIcIURq7Oa20rW2n2q+fyXBNcU9lrw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
	<link rel="stylesheet" href="{{ asset('bundles/mercuryseriesflashy/css/flashy.css') }}">

	<div class="page-content is-relative">

		<div
			class="page-content-inner">

			<!--Edit Profile-->
			<div class="account-wrapper">
				<div
					class="columns">

					<!--Navigation-->
					<div class="column is-4">
						<div class="account-box is-navigation">


							<div class="account-menu">
								<a class="account-menu-item is-active">
									<i class="lnil lnil-user-alt"></i>
									<span>General</span>
									<span class="end">
										<i aria-hidden="true" class="fas fa-arrow-right"></i>
									</span>
								</a>
								
								
							</div>
						</div>
					</div>

					<!--Form-->
					<div class="column is-8">
						<div class="account-box is-form is-footerless">


							{{ form_start(form, {'attr': {'class': 'was-validated', 'novalidate': 'novalidate'}}) }}

							<div class="form-head stuck-header">
								<div class="form-head-inner">
									<div class="left">
										<h3>Info Générale</h3>
										<p>Saisissez vos informations Personnelles</p>
									</div>
									<div class="right">
										<div class="buttons">

											<a href="{{ path('app_imagepers_affich')}}" class="button h-button is-light is-dark-outlined">
												<span class="icon">
													<i class="lnir lnir-arrow-left rem-100"></i>
												</span>
												<span>Retour</span>
											</a>
											<button id="save-button" type="submit" class="button h-button is-primary is-raised">{{ button_label|default('Suivant') }}</button>

										</div>
									</div>
								</div>
							</div>
							<div class="form-body">


								<div class="fieldset">
									<div class="fieldset-heading">
										<h4>Info Personnelle</h4>
										<p>Veuillez remplir les champs</p>
									</div>

									<div
										class="columns is-multiline">
										<!--Field-->
										<div class="column is-6">
											<div class="field">
												<div class="control has-icon">
													{{ form_widget(form.nomPers, {'attr': {'class': 'input', 'placeholder': 'Nom'}}) }}
													<div class="form-icon">
														<i data-feather="user"></i>
													</div>
													<div style="color:red;border-color:red">
														{{ form_errors(form.nomPers,{'attr': {'class': 'invalide-feedback'}}) }}
													</div>
												</div>
											</div>
										</div>
										<!--Field-->
										<div class="column is-6">
											<div class="field">
												<div class="control has-icon">
													{{ form_widget(form.prenomPers, {'attr': {'class': 'input', 'placeholder': 'Prénom'}}) }}
													<div class="form-icon">
														<i data-feather="user"></i>
													</div>
													<div style="color:red;border-color:red">
														{{ form_errors(form.prenomPers,{'attr': {'class': 'invalide-feedback'}}) }}
													</div>
												</div>
											</div>
										</div>

										<!--Field-->
										<div class="column is-12">
											<div class="field">
												<div class="control has-icon">
													{{ form_widget(form.adresse, {'attr': {'class': 'input', 'placeholder': 'Adresse'}}) }}

													<div class="form-icon">
														<i data-feather="map-pin"></i>
													</div>
													<div style="color:red;border-color:red">
														{{ form_errors(form.adresse,{'attr': {'class': 'invalide-feedback'}}) }}
													</div>
												</div>
											</div>
										</div>
										<!--Field-->
										<div class="column is-12">
											<div class="field">
												<div class="control has-icon">
													{{ form_widget(form.numTel, {'attr': {'class': 'input', 'placeholder': 'Numéro'}}) }}
													<div class="form-icon">
														<i data-feather="phone-call"></i>
													</div>
													<div style="color:red;border-color:red">
														{{ form_errors(form.numTel,{'attr': {'class': 'invalide-feedback'}}) }}
													</div>
												</div>
											</div>
										</div>
										<!--Field-->
										<div class="column is-12">
											<div class="field">
												<div class="control has-icon">
													{{ form_widget(form.email, {'attr': {'class': 'input', 'placeholder': 'E-mail'}}) }}
													<div class="form-icon">
														<i data-feather="mail"></i>
													</div>
													<div style="color:red;border-color:red">
														{{ form_errors(form.email,{'attr': {'class': 'invalide-feedback'}}) }}
													</div>
												</div>
											</div>
										</div>
										<!--Field-->
										<div class="column is-12">
											<div class="field">
												<div class="control">
													{{ form_widget(form.mdp, {'attr': {'class': 'input', 'placeholder': 'Mot de passe','style': 'display:none'}}) }}

												</div>
											</div>
										</div>
										<!--Field-->
										<div class="column is-12">
											<div class="field">
												<div class="control has-icon">
													{{ form_widget(form.rib, {'attr': {'class': 'input', 'placeholder': 'Rib'}}) }}
													<div class="form-icon">
														<i data-feather="credit-card"></i>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>

								<!--Fieldset-->
								<div class="fieldset">
									<div class="fieldset-heading">
										<h4>Role</h4>
									</div>
									<div
										class="columns is-multiline">

										<!--Field-->
										<div class="column is-6">
											<div class="field">
												<div class="control">
													<div class="h-select">
														{{ form_widget(form.role, {'attr': {'class': 'select-box', 'placeholder': 'Mot de passe'}}) }}

													</div>
												</div>
											</div>
										</div>


									</div>
								</div>


							</div>

							{{ form_end(form) }}
						</div>
					</div>

				</div>
			</div>

		</div>
	</div>


{% endblock %}
