{{ form_start(form, {'attr': {'class': 'was-validated', 'novalidate': 'novalidate'}}) }}

<div class="form-body">


	<div class="fieldset">
		

		<div
			class="columns is-multiline">
			<!--Field-->
			<div class="column is-6">
				<div class="field">
					<div class="control has-icon">
						{{ form_widget(form.nomPers, {'attr': {'class': 'input', 'placeholder': 'Nom'}}) }}
						<div style="color:red;border-color:red">
							{{ form_errors(form.nomPers,{'attr': {'class': 'invalide-feedback'}}) }}
						</div>
						<div class="form-icon">
							<i data-feather="user"></i>
						</div>
					</div>
				</div>
			</div>
			<!--Field-->
			<div class="column is-6">
				<div class="field">
					<div class="control has-icon">
						{{ form_widget(form.prenomPers, {'attr': {'class': 'input', 'placeholder': 'Prénom'}}) }}
						<div style="color:red;border-color:red">
							{{ form_errors(form.prenomPers,{'attr': {'class': 'invalide-feedback'}}) }}
						</div>
						<div class="form-icon">
							<i data-feather="user"></i>
						</div>
					</div>
				</div>
			</div>

			<!--Field-->
			<div class="column is-12">
				<div class="field">
					<div class="control has-icon">
						{{ form_widget(form.adresse, {'attr': {'class': 'input', 'placeholder': 'Adresse'}}) }}
						<div style="color:red;border-color:red">
							{{ form_errors(form.adresse,{'attr': {'class': 'invalide-feedback'}}) }}
						</div>
						<div class="form-icon">
							<i data-feather="map-pin"></i>
						</div>
					</div>
				</div>
			</div>
			<!--Field-->
			<div class="column is-12">
				<div class="field">
					<div class="control has-icon">
						{{ form_widget(form.numTel, {'attr': {'class': 'input', 'placeholder': 'Numéro'}}) }}
						<div style="color:red;border-color:red">
							{{ form_errors(form.numTel,{'attr': {'class': 'invalide-feedback'}}) }}
						</div>
						<div class="form-icon">
							<i data-feather="phone-call"></i>
						</div>
					</div>
				</div>
			</div>
			<!--Field-->
			<div class="column is-12">
				<div class="field">
					<div class="control has-icon">
						{{ form_widget(form.email, {'attr': {'class': 'input', 'placeholder': 'E-mail'}}) }}
						<div style="color:red;border-color:red">
							{{ form_errors(form.email,{'attr': {'class': 'invalide-feedback'}}) }}
						</div>
						<div class="form-icon">
							<i data-feather="mail"></i>
						</div>
					</div>
				</div>
			</div>
			<!--Field-->
			<div class="column is-12">
				<div class="field">
					<div class="control has-icon">
						<input type="password" {{ form_widget(form.mdp, {'attr': {'class': 'input','placeholder': 'Mot de passe'}} ) }}
						<div style="color:red;border-color:red">
							{{ form_errors(form.mdp,{'attr': {'class': 'invalide-feedback'}}
							) }}
						</div>
						<div class="form-icon">
							<i data-feather="key"></i>
						</div>
					</div>
				</div>
			</div>


			<!--Field-->
			<div class="column is-12">
				<div class="field">
					<div class="control has-icon">
						{{ form_widget(form.rib, {'attr': {'class': 'input', 'placeholder': 'Rib'}}) }}
						<div style="color:red;border-color:red">
							{{ form_errors(form.rib,{'attr': {'class': 'invalide-feedback'}}) }}
						</div>
						<div class="form-icon">
							<i data-feather="credit-card"></i>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!--Fieldset-->
	<div class="fieldset">
		<br>
		<div
			class="columns is-multiline">

			<!--Field-->
			<div class="column is-6">
				<div class="field">
					<div class="control">
						<div class="h-select">
							{{ form_widget(form.role, {'attr': {'class': 'select-box', 'style': 'width: 337px;', 'placeholder': 'Mot de passe'}}) }}

						</div>
					</div>
				</div>
			</div>


		</div>
	</div>		
	

</div>
<br><br>
<div class="button-wrap has-help">
											<div class="buttons">
												<button style="height: 46px;
    width: 355px;
    margin-left: 6px;padding: 8px 22px;margin-left:-4px;margin-top:-44px;margin-bottom:-93px;" id="save-button" type="submit" class="button h-button is-primary is-raised">{{ button_label|default('Suivant') }}</button>
</div>
<div style="margin-top: 60px;">
<span style="margin-left:125px;">Ou
												<a href="{{ path('app_personne_verif') }}">se connecter</a></span>
</div>
										</div>
{{ form_end(form) }}
