<!DOCTYPE html>
<html lang="en">

	<head>
		<!-- Required meta tags  -->
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<meta http-equiv="x-ua-compatible" content="ie=edge">

		<title>
			Huro :: Login</title>
		<link
		rel="icon" type="image/png" href="../assets/img/favicon.png"/>

		<!--Core CSS -->
		<link rel="stylesheet" href="../assets/css/app.css">
		<link
		rel="stylesheet" href="../assets/css/main.css">

		<!-- Fonts -->
		<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700;800;900&display=swap" rel="stylesheet">
		<link
		href="https://fonts.googleapis.com/css?family=Roboto:300,400,700" rel="stylesheet">
		<!--flashy!-->
		<link rel="stylesheet" href="{{ asset('bundles/mercuryseriesflashy/css/flashy.css') }}">
		<link href="//fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
		<link href='//fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700' rel='stylesheet'>

		<!--flashy!-->
		<!-- Fonts --><script src="//code.jquery.com/jquery.js"> </script>
		<!-- Load Flashy default JavaScript -->
		<script src="{{ asset('bundles/mercuryseriesflashy/js/flashy.js') }}"></script>
		<script src="https://www.google.com/recaptcha/api.js" async defer></script>

	</head>

	<body>
		<div id="huro-app" class="app-wrapper">

			<!--Full pageloader-->
			<!-- Pageloader --><div class="pageloader is-full"> </div>
			<div class="infraloader is-full is-active"></div>
			<div
				class="auth-wrapper">
				<!--Page body-->

				<div class="modern-login">

					<div class="underlay h-hidden-mobile h-hidden-tablet-p"></div>

					<div class="columns is-gapless is-vcentered">
						<div class="column is-relative is-8 h-hidden-mobile h-hidden-tablet-p">
							<div class="hero is-fullheight is-image">
								<div class="hero-body">
									<div class="container">
										<div class="columns">
											<div class="column">
												<img class="hero-image" src="../assets/img/illustrations/login/station.svg" alt="">
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="column is-4 is-relative">
							<a class="top-logo" href="/">
								<img class="light-image" src="../assets/img/logos/logo/logo.svg" alt="">
								<img class="dark-image" src="../assets/img/logos/logo/logo-light.svg" alt="">
							</a>
							<label class="dark-mode ml-auto">
								<input type="checkbox" checked>
								<span></span>
							</label>
							<div class="is-form">
								<div class="hero-body">
									<div class="form-text">
										<h2>Se connecter</h2>
										<p>Bienvenu sur votre compte.</p>
									</div>
									<div class="form-text is-hidden">
										<h2>Recover Account</h2>
										<p>Reset your account password.</p>
									</div>
									<form id="login-form" method="POST" class="login-wrapper" action="{{ path('app_personne_verif') }}">
										<div class="control has-validation">
											<input name="email" type="text" class="input" placeholder="">
											<small class="error-text">This is a required field</small>
											<div class="auth-label">Email</div>
											<div class="auth-icon">
												<i class="lnil lnil-envelope"></i>
											</div>
											<div class="validation-icon is-success">
												<div class="icon-wrapper">
													<i data-feather="check"></i>
												</div>
											</div>
											<div class="validation-icon is-error">
												<div class="icon-wrapper">
													<i data-feather="x"></i>
												</div>
											</div>
										</div>
										<div class="control has-validation">
											<input name="mdp" type="password" class="input">
											<div class="auth-label">Mot de passe</div>
											<div class="auth-icon">
												<i class="lnil lnil-lock-alt"></i>
											</div>
										</div>

										<div class="control is-flex">
											<label class="remember-toggle">
												<input type="checkbox">
												<span class="toggler">
													<span class="active">
														<i data-feather="check"></i>
													</span>
													<span class="inactive">
														<i data-feather="circle"></i>
													</span>
												</span>
											</label>
											<div style="margin-left:10px;" class="remember-me">Se souvenir de moi</div>
											<a href="{{ path('app_forgot_password_request') }}">Mot de passe oublié?</a>
										</div>
										<br>
										<div class="g-recaptcha" data-sitekey="6LfbCa0lAAAAAInB0IuTY-075WpxYf6KzBAziP6f"></div>
										{{ include('@MercurySeriesFlashy/flashy.html.twig') }}
										<div class="button-wrap has-help">
											<div class="buttons">
												<button style="margin-left:21px;margin-top:-74px;margin-bottom:-93px;" class="button h-button is-primary is-raised" onclick="window.location.href = '{{ path('app_personne_verif') }}';">Se connecter</button>
											</div>
											<span>Ou
												<a href="{{ path('app_personne_signin') }}">Créer</a>
												un compte.</span>
										</div>
									</form>

									
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<!--Huro Scripts-->
			<!-- Concatenated plugins -->
			<script src="../assets/js/app.js"></script>

			<!-- Huro js -->
			<script src="../assets/js/functions.js"></script>
			<script src="../assets/js/auth.js"></script>
		</div>
	</body>

</html>
