{% extends 'baseFront.html.twig'%}
{% block title %}
	<title>profil</title>
{% endblock %}
{% block naver %}
	<div class="naver" style="top:-90px;"></div>
{% endblock %}
{% block PageTitle %}
	<div class="title-wrap">
		<h1 class="title is-4">Mon profil</h1>
	</div>
{% endblock %}
{% block content %}
	<link rel="stylesheet" href="{{ asset('assets/css/owl.carousel.min.css') }}"/>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css" integrity="sha512-sMXtMNL1zRzolHYKEujM2AqCLUR9F2C4/05cdbxjjLSRvMQIciEPCQZo++nk7go3BtSuK9kfa/s+a4f4i5pLkw==" crossorigin="anonymous" referrerpolicy="no-referrer"/>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script src="{{ asset('bundles/mercuryseriesflashy/js/flashy.js') }}"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js" integrity="sha512-bPs7Ae6pVvhOSiIcyUClR7/q2OAsRiovw4vAkX+zJbw3ShAeeqezq50RIIcIURq7Oa20rW2n2q+fyXBNcU9lrw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
	<link rel="stylesheet" href="{{ asset('bundles/mercuryseriesflashy/css/flashy.css') }}">

	<div style="margin-top:129px;"class="page-content-inner">

		<div
			class="card-grid card-grid-v4">

			<!--List Empty Search Placeholder -->
			<div class="page-placeholder custom-text-filter-placeholder is-hidden">
				<div class="placeholder-content">
					<img class="light-image" src="../assets/img/illustrations/placeholders/search-4.svg" alt=""/>
					<img class="dark-image" src="../assets/img/illustrations/placeholders/search-4-dark.svg" alt=""/>
					<h3>We couldn't find any matching results.</h3>
					<p class="is-larger">Too bad. Looks like we couldn't find any matching results for the
												                                        search terms you've entered. Please try different search terms or criteria.</p>
				</div>
			</div>


			<div class="columns is-multiline">
				<br>
				<br>
				<!--Grid item-->
				{% for imageper in images %}
					<div class="column is-3">
						<a href="#" class="card-grid-item">
							<img style="margin-top:20px;" src="http://localhost/img/{{ asset(imageper.imagep) }}" alt="">
							<form method="post" action="{{ path('app_imagepers_delete1', {'idImp': imageper.idImp}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
								<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ imageper.idImp) }}">
								<button style="margin-top:40px;background-color: #ff2727;" class="button h-button is-primary is-raised">
									Supprimer
								</button>
							</form>
						</a>

					</div>

				{% else %}
					<tr>
						<td colspan="5">no records found</td>
					</tr>
				{% endfor %}


			</div>

		</div>

	</div>


{% endblock %}
