{% extends 'baseAdmin.html.twig' %}

{% block title %}Imagess index{% endblock %}

{% block content %}
    <h1>Imagess index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Idimgss</th>
                <th>Img</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for imagess in imagess %}
            <tr>
                <td>{{ imagess.idimgss }}</td>
                <td>{{ imagess.img }}</td>
                <td>
                    <a href="{{ path('app_imagess_show', {'idimgss': imagess.idimgss}) }}">show</a>
                    <a href="{{ path('app_imagess_edit', {'idimgss': imagess.idimgss}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_imagess_new') }}">Create new</a>
{% endblock %}
