<!DOCTYPE html>

<title>Reclamation index</title>

{% block body %}
    <h1>Reclamation index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>IdRec</th>
                <th>Description</th>
                <th>Titre</th>
                <th>Status</th>
                <th>Dateheure</th>
                <th>Userid</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for reclamation in reclamations %}
            <tr>
                <td>{{ reclamation.idRec }}</td>
                <td>{{ reclamation.description }}</td>
                <td>{{ reclamation.titre }}</td>
                <td>{{ reclamation.status }}</td>
                <td>{{ reclamation.dateheure ? reclamation.dateheure|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ reclamation.userid }}</td>
                <td>
                    <a href="{{ path('app_reclamation_show', {'idRec': reclamation.idRec}) }}">show</a>
                    <a href="{{ path('app_reclamation_edit', {'idRec': reclamation.idRec}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_reclamation_new') }}">Create new</a>
{% endblock %}
