{% extends 'baseFront.html.twig'%}
{# ------------------------------------------------------------------------------------------- #}
{% block title %}
	<title>Réservation service</title>
{% endblock %}
{# ------------------------------------------------------------------------------------------- #}
{% block naver %}
	<div class="naver" style="top:-90px;"></div>
{% endblock %}
{# ------------------------------------------------------------------------------------------- #}
{% block PageTitle %}
	<div class="title-wrap">
		<h1 class="title is-4">Réservation des services</h1>
	</div>
{% endblock %}
{# ------------------------------------------------------------------------------------------- #}
{% block content %}
	{% set current_route = app.request.attributes.get('_route') %}
	{% set idService = app.request.get('idService') %}
	{# ------------------------------------------------------------------------------------------- #}
		<div class="food-delivery-dashboard">
		<div class="left">
			<div class="left-body">
				<div class="restaurants">
					{# entete ------------------------------------------------------------------------------------------- #}
					<div class="restaurants-toolbar">
						<div class="left">
							<h3>Services</h3>
						</div>
						<div class="right"></div>
					</div>
					{# carousel des services------------------------------------------------------------------------------------------- #}
					<div class="food-pills">
						<div
							class="food-pills-inner pill-carousel">
							<!--Pill-->
							<div class="food-pill" style="width:120px;height:50px;display:none" hidden></div>
							<div class="food-pill {{ current_route == 'app_reservation_index' ? 'is-active' : '' }}" style="width:120px;height:50px">
								<a href="{{path('app_reservation_index')}}">
									<span name="service" style="margin-top:-10px">Tout</span>
								</a>
							</div>
							<!--Pill-->
							{% for service in services %}
								<div id="reload-button" class="food-pill {{ current_route == 'app_reservation_indexres' and idService  == service.idService ? 'is-active' : '' }}" style="width:120px;height:50px">
									<a href="{{path('app_reservation_indexres',{'idService':service.idService})}}">
										<span name="service" style="margin-top:-10px">{{service.nom}}</span>
									</a>
								</div>
							{% endfor %}
						</div>
					</div>
					{# les cartes des sous services ------------------------------------------------------------------------------------------- #}
					<div class="restaurants-list">
						<div class="columns is-multiline" id="search-results">
						
							{% for s in souservices %}
								<div class="column is-4">
								{# carte cliquable ------------------------------------------------------------------------------------------- #}
									<a class=" h-modal-trigger" data-modal="demo-right-actions-modal{{s.id}}" style="color:white">
										<div class="restaurants-list-item" id="my-div" style="width:250px;height:250px;background-color:#ff8601">
											{# image de carte ------------------------------------------------------------------------------------------- #}
											<div style="width:250px;">
												{% for n in firstimg %}
													{% if n.sousService.id == s.id %}
														<img class="light-image" src="http://localhost/img/{{n.img}}" style="height:200px;width:300px;" alt="">
														<img class="dark-image" src="http://localhost/img/{{n.img}}" alt="">
													{% endif %}

												{% endfor %}
											</div>
											{# le nom et prestataire de sousservices ------------------------------------------------------------------------------------------- #}
											<div class="meta-container">
												<center>
													<div class="meta-content">
														<h4 style="color:white">{{s.nom}}</h4>
														<p>
															<span style="color:white">{{s.idPers.prenomPers}}
																{{s.idPers.nomPers}}</span>
														</p>
													</div>
												</center>
											</div>
										</div>
									</a>
								</div>
								{# modal ------------------------------------------------------------------------------------------- #}
								<div class="timer">
									<div style="margin-top:4px">
										<center>
											<b>
												<div id="demo-right-actions-modal{{s.id}}" class="modal h-modal is-medium">
													<div class="modal-background h-modal-close"></div>
													<div class="modal-content">
														<div class="modal-card">
															<header class="modal-card-head" style="background-color:#ffb25c">
																<h3>{{s.nom}}</h3>
																<button class="h-modal-close ml-auto" style="color:white" aria-label="close">
																	<i data-feather="x"></i>
																</button>
															</header>
															<div class="modal-card-body">
																<div class="inner-content">
																	<div class="image-accordion" style="margin-top:1px;margin-bottom:3px">
																		<ul>
																			{% for i in imagess %}
																				{% if i.sousService.id == s.id %}
																					{% if loop.index > 0 %}
																						<li class="has-background-image" tabindex="{{loop.index}}" data-background="http://localhost/img/{{i.img}}"></li>
																					{% endif %}
																				{% endif %}
																			{% endfor %}
																		</ul>
																	</div>

																	<div class="row" style="display:inline-flex;margin-left:-75px;margin-top:20px">
																		<div class="col text-center" style="margin-left:70px;">
																			<div style="color:#ff8601;font-size:20px">
																				<i style="color:#9eadfd" class="fas fa-user" style="margin-bottom:2px"></i>
																			</div>
																			<div style="font-weight:normal">{{s.idPers.prenomPers}}
																				{{s.idPers.nomPers}}
																			</div>
																		</div>
																		<div class="col text-center" style="margin-left:20px;">
																			<div style="color:#ff8601;font-size:20px">
																				<i style="color:#ffb25c" class="fas fa-money-bill" style="margin-bottom:2px"></i>
																			</div>
																			<div style="font-weight:normal">{{s.prix}}
																				Dt
																			</div>
																		</div>
																		<div class="col text-center" style="margin-left:20px;">
																			<div style="color:#ff8601;font-size:20px;font-weight:normal">
																				<i style="color:#241b7c" class="fas fa-toolbox" style="margin-bottom:2px"></i>
																			</div>
																			<div style="font-weight:normal">{{s.idService.nom}}
																			</div>
																		</div>
																	</div>

																	<hr>
																	<div class="row">
																		<label style="font-size:20px;color:#9eadfd">Description :</label>
																		<table style="width : 150px">
																			<tr>
																				<p style="font-size:15px;color:black;word-break: break-all;word-break: break-word;white-space: pre-line;">{{ s.description}}</p>
																			</tr>
																		</table>
																	</div>
																	<hr>
																	<div class="row">
																		<div class="col text-center">
																			<div style="font-size:20px;color:#9eadfd;">Catégories d'événement:
																			</div>
																			<div style="font-weight:normal">{{s.idEventcateg}}
																			</div>
																		</div>
																	</div>
																	<hr>
																	<div class="row">
																		<div class="col text-center">
																			{% if avis is not empty %}
																				<div style="font-size:20px;color:#9eadfd;margin-bottom:20px">Avis:</div>
																				{% for a in avis %}
																					{% if a.idService.id == s.id %}
																						<div style="background-color:white;border-radius:15px;height:60px;width:570px;box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);">
																							<div style="display:inline-flex;margin-bottom:20px;margin-top:5px;margin-rigth:100px;">
																								<div style="width:100px;overflow:hidden">
																									<div style="font-weight:bold;margin-top:5px;color:#641ccc;text-align: left">{{a.pers.prenomPers}}
																										{{a.pers.nomPers}}</div>
																									<div style="margin-top:-1px;text-align: left">
																										{% for i in range(1,a.rating) %}
																											<i class="fas fa-star" style="color:#ff8601;font-size:10px;margin-top:0.5px;"></i>
																										{% endfor %}
																									</div>
																								</div>
																								<div style="margin-top:10px;font-weight:normal;margin-right:200px;width:200px;overflow:hidden;text-align: left">{{a.comment}}</div>
																							</div>
																						</div>
																						<br>
																					{% endif %}
																				{% endfor %}
																			{% else %}
																				<p>
																					aucun avis pour ce sousservice
																				</p>
																			{% endif %}

																		</div>
																	</div>
																</div>
															</div>
															<div class="modal-card-foot is-end">
																<a class="button h-button is-rounded h-modal-close">Annuler</a>
																{% if app.session.get('services') is defined and app.session.get('services')[s.id] is defined %}
																	<button class="button h-button is-primary is-raised is-rounded h-modal-close" id="reserver-btn-{{s.id}}" data-service-id="{{s.id}}" style="background-color:#ffb25c">Annuler la réservation</button>
																{% else %}
																	<button class="button h-button is-primary is-raised is-rounded h-modal-close" id="reserver-btn-{{s.id}}" data-service-id="{{s.id}}" style="background-color:#ffb25c">Réserver</button>
																{% endif %}
															</div>
														</div>
													</div>
												</div>
											</b>
										</center>
									</div>
								</div>
							{% endfor %}
							</div>
						</div>
					</div>
				</div>
			</div>


		{# ------------------------------------------------------------------------------------------- #}
		<div class="right fixed-parent" style="text-align:center;">
			<div class="sticky-panel fixed-child">
				<div class="widget icon-toolbar-widget">
					<div class="toolbar-icon" style="Display:inline-flex;">
						<i data-feather="shopping-cart" style="margin-right: 20px; color:#671cc9;"></i>
						<span style="font-size: 17px; font-weight:500; ">Mes Réservations</span>
					</center>
				</div>
			</div>
			{# ---------------------------------------- CHAIMA --------------------------------------------------- #}
			<div class="card">
				<div class="top">
					<div class="widget-toolbar">
						<div class="left">
							<h3 class="is-bigger" style="font-weight:bold;text-decoration: underline;">Ma Commande</h3>
						</div>
						{% set services = app.session.get('services', []) %}
						{% set servicesCount = services|length %}
						{% set servicesTotal = 0 %}
						<div class="right">
							<span class="tag is-curved">
								{{ servicesCount }}
								articles</span>
						</div>
					</div>
				</div>
				<div class="center">
					{% if app.session.get('services') is not empty %}
						{# <div id="services-container"> #}
						{% for service in app.session.get('services') %}
							<div style="background-color: #fafafa; width:261px;height:55px;margin-bottom:10px;box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);border-radius:15px">
								<span class="media-flex-center">
									<div class="h-avatar" style="margin-top:7px; margin-left:7px">
										{% if imgfirst[service.id]|length > 0 %}
											<img class="avatar is-squared" src="http://localhost/img/{{ asset(imgfirst[service.id][0].img) }}" alt="">
										{% else %}
											<img class="avatar is-squared" src="https://estuario.org/wp-content/uploads/2019/09/image.png" alt=""/>
										{% endif %}
									</div>
									<div class="flex-meta" style="justify-content: flex-start !important;">
										<span>{{service.nom}}</span>
										<span>{{service.prix}}
											DT</span>
										{% set servicesTotal = servicesTotal + service.prix %}
									</div>
								</span>
							</div>
						{% endfor %}
						{# </div> #}

					{% else %}
						<div class="section-placeholder">
							<div class="placeholder-content">
								<img src="{{asset('assets/img/illustrations/dashboards/food/cart-placeholder.svg')}}" alt="" style="width: 100px;">
								<h3 class="dark-inverted">Aucun article</h3>
								<p>Votre panier est actuellement vide. Commencez à ajouter des services.</p>
							</div>
						</div>
					{% endif %}
				</div>
				<div class="bottom" style="display: flex; align-items: center; padding-right:20px">
					<h3 style="color: grey; font-size: 16px;">TOTAL</h3>
					<h3 style="color: black; font-size: 18px; font-weight: bold; margin-left: auto;">{{servicesTotal}}
						DT</h3>
				</div>
				<div
					style="display: flex; align-items: center;">
					{# <a class="h-modal-trigger" data-modal="pdf-modal"> #}
					{% if app.session.get('services', [])|length > 0 %}
						<a class=" h-modal-trigger button h-button is-primary is-raised is-bold is-fullwidth" data-modal="pdf-modal" style="margin-top:5px;margin-right:10px;width:120px;height:40px;border-radius: 5px;position: relative;">
							<i class="fas fa-file-pdf"></i>
							<span style="margin-left: 10px;">Devis</span>
						</a>
					{% else %}
						<div class=" button h-button is-primary is-raised is-bold is-fullwidth" style="margin-top:5px;margin-right:10px;width:120px;height:40px;border-radius: 5px;position: relative;" onclick=" alert('Séléctionner au moin un service.')">
							<i class="fas fa-file-pdf"></i>
							<span style="margin-left: 10px;">Devis</span>
						</div>
					{% endif %}
					<div id="pdf-modal" class="modal h-modal is-big">
						<div class="modal-background  h-modal-close"></div>
						<div class="modal-content">
							<div class="modal-card">
								<header class="modal-card-head">
									<h3>Devis</h3>
									<button class="h-modal-close ml-auto" aria-label="close">
										<i data-feather="x"></i>
									</button>
								</header>
								<div class="modal-card-body">
									{{ include('templates_front/reservation/PDF.html.twig') }}
								</div>
								<div class="modal-card-foot is-end">
									<a href="{{path('app_pdf')}}" class="button h-button is-primary is-raised is-rounded">
										<i class="fas fa-download"></i>
										<span style="margin-left: 10px;">Télécharger</span>
									</a>
								</div>
							</div>
						</div>
					</div>
					{% if app.session.get('services', [])|length > 0 %}
						<a href="{{ path('payment') }}"> 
							<div class="button h-button is-warning is-raised is-bold is-fullwidth" style="margin-top:5px;width:120px;height:40px;border-radius: 5px;">
								<i class="fas fa-coins"></i>
								<span style="margin-left: 10px;">Payer</span>
							</div>
						</a>
					{% else %}
						<div class="button h-button is-warning is-raised is-bold is-fullwidth" style="margin-top:5px;width:120px;height:40px;border-radius: 5px;" onclick="alert('Séléctionner au moin un service.')">
							<i class="fas fa-coins"></i>
							<span style="margin-left: 10px;">Payer</span>
						</div>
					{% endif %}
				</div>
			</div>
		</div>
	</div>
<script>
// 	$(document).ready(function () { // Add a click event listener to the reload button
// $('#reload-button').click(function () { // Use AJAX to reload the content of the 'my-div' element
// $.ajax({
// url: 'app_reservation_indexres', // The URL of the page you want to reload
// type: 'GET', // The type of request
// dataType: 'html', // The expected data type
// success: function (data) { // If the request succeeds, replace the content of 'my-div' with the new data
// $('#my-div').html(data);
// }
// });
// });
// });
// </script>

<script>
	// get all pill elements
const pills = document.querySelectorAll('.food-pill');

// add event listener to each pill element
pills.forEach(pill => {
pill.addEventListener('click', () => { // remove active class from all pills
pills.forEach(pill => {
pill.classList.remove('is-active');
});

// add active class to clicked pill
pill.classList.add('is-active');
});
});
</script>

<script>
// 					$(document).ready(function () {
// 			$('.service').click(function () {
// 			var searchTerm = $(this).data('service-id');

// 			$.ajax({
// 			type: 'POST',
// 			url: '{{ path('app_reservation_search') }}',
// 			data: {
// 			searchTerm: searchTerm
// 			},
// 			success: function (data) {
// 			var results = '';

// 			$.each(data, function (index, value) {
// 			results += '<a class=" h-modal-trigger" data-modal="demo-right-actions-modal' + s.id + '" style="color:white">' +
// 			'<div class="restaurants-list-item" id="my-div" style="width:250px;height:250px;background-color:#ff8601">' +
// 			'<!-- image de carte -->' +
// 			'<div style="width:250px;">'
// 			for (let n of firstimg) {
// 				if (n.sousService.id == s.id) {
// 					results += '<img class="light-image" src="http://localhost/img/' + n.img + '" style="height:200px;width:300px;" alt="">';
// 					results += '<img class="dark-image" src="http://localhost/img/' + n.img + '" alt="">';
// 				}
// 			}
// 				results += '</div>' +
// 				'<!-- le nom et prestataire de sousservices -->' +
// 				'<div class="meta-container">' +
// 					'<center>' +
// 						'<div class="meta-content">' +
// 							'<h4 style="color:white">' + s.nom + '</h4>' +
// 							'<p>' +
// 								'<span style="color:white">' + s.idPers.prenomPers + ' ' + s.idPers.nomPers + '</span>' +
// 							'</p>' +
// 						'</div>' +
// 					'</center>' +
// 				'</div>' +
// 			'</div>' +
// 		'</a>';
// 			});

// 			$('#search-results').html(results);
// 			}
// 			});
// 			});
// 			});
// 				</script>


	{# ------------------------------------------------------------------------------------------- #}
	{# <script>
			function loadServices() {
			    $.ajax({
			        url: "{{ path('app_get_services') }}",
			        type: 'GET',
			        dataType: 'json',
			        success: function(response) {
			            if (response.success) {
			                $('#services-container').html(response.html);
			            } else {
			                alert(response.message);
			            }
			        },
			        error: function(jqXHR, textStatus, errorThrown) {
			            alert('Error: ' + errorThrown);
			        }
			    });
			}
			</script> #}

	<script>
		$(document).ready(function () {
$('#reload-button').click(function () {
$.ajax({
url: 'app_reservation_indexres',
type: 'GET',
dataType: 'html',
success: function (data) {
$('#my-div').html(data);
}
});
});
});
	</script>

	<script>
		var myButtons = document.querySelectorAll('[id^="reserver-btn-"]');
var IsReserved = false;
myButtons.forEach(function (myButton) {
myButton.addEventListener("click", function () {
if (myButton.innerHTML.trim() === "Annuler la réservation") {
IsReserved = true;
} else {
IsReserved = false;
}
console.log(IsReserved);
if (IsReserved) { // Retirer le service de la session Symfony
console.log(myButton.innerHTML.trim());
var serviceId = myButton.getAttribute("data-service-id");
// console.log(serviceId);
var req = new XMLHttpRequest();
// console.log(req);
// req.open("POST", "http://localhost/reservation/reservice/remove");
req.open("POST", "{{ path('app_reservice_remove') }}");
req.setRequestHeader("Content-Type", "application/json;charset=UTF-8");
req.onload = function () {
if (req.status === 200) {
console.log("Service retiré de la session Symfony.");
} else {
console.log("Erreur lors du retrait du service de la session Symfony.");
}
};
req.send(JSON.stringify({serviceId: serviceId}));

myButton.innerHTML = "Réserver";
IsReserved = false;
} else { // Ajouter le service à la session Symfony
console.log(myButton.innerHTML.trim());
var serviceId = myButton.getAttribute("data-service-id");
// console.log(serviceId);
var req = new XMLHttpRequest();
// console.log(req);
req.open("POST", "{{ path('app_reservice_add') }}");
// req.open("POST", "http://localhost/reservation/reservice/add");
req.setRequestHeader("Content-Type", "application/json;charset=UTF-8");
req.onload = function () {
if (req.status === 200) {
console.log("Service ajouté à la session Symfony.");
} else {
console.log("Erreur lors de l'ajout du service à la session Symfony.");
}
};
req.send(JSON.stringify({serviceId: serviceId}));

myButton.innerHTML = "Annuler la réservation";
IsReserved = true;
}
});
});
	</script>
{% endblock %}


