{% extends 'baseAdmin.html.twig'%}
{# ------------------------------------------------------------------------------------------- #}
{% block content %}
	<div
		class="page-breadcrumb d-none d-sm-flex align-items-center mb-3">
		{# -------------------------------------------------------------------------- #}
		<div style="color:#758afd;font-size:25px;font-style:bold">Service</div>
		<div class="search-bar flex-grow-1" style="margin-left:33%;">
			<div class="position-relative search-bar-box">
				<form id="search-form" class="form" action="{{ path('app_service_index') }}" enctype="multipart/form-data" method="GET">
					<input type="text" id="search-term" name="searchTerm" style="border-radius:20px;border: 2px solid #aeb8ff  " class="form-control search-control" placeholder="Rechercher...">
				</form>
				<span class="position-absolute top-50 search-show translate-middle-y">
					<i class='bx bx-search' style="color:#aeb8ff"></i>
				</span>
				<span class="position-absolute top-50 search-close translate-middle-y">
					<i class='bx bx-x' style="color:white"></i>
				</span>
			</div>
		</div>
		{# -------------------------------------------------------------------------- #}
		<div class="ms-auto">
			<div
				class="btn-group">
				{# -------------------------------------------------------------------------- #}

				<a href="{{ path('app_service_new') }}" class="btn btn-info" style="border-radius:10px;color:white;background-color:#aeb8ff;border-color:#aeb8ff;font-size:19px">Créer un service</a>

				{# -------------------------------------------------------------------------- #}
			</div>
		</div>
	</div>
	{# -------------------------------------------------------------------------- #}
	<center>
		<div id="nom" class="card" style="width:50%;border-radius: 25px;height:580px;background-color:#d2d9fc">
			<center>
				<div class="card" style="box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);margin-top:20px;width:90%;border-radius:12px;height:35px;background-color:white">
					<div style="display: flex;">
						<label style="color:#241b7c;margin-right: 65%;margin-left: 20px;margin-top: 7px;font-weight: bold;">Nom du service</label>
						<label style="color:#241b7c;position: absolute;top: 7px; left: 85%; font-weight: bold;">Actions</label>
					</div>
				</div>
				{# ------------------------------------------------------------------------------------------- #}
				{% if  services is not empty %}
					<div id="search-results">
						{% for service in services %}
							<div class="card" style="margin-top:-10px;box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);width:90%;border-radius:14px;height:50px;background-color:white">
								<div style="display: flex;">
									<label style="color:#241b7c;margin-right: 30%;margin-left: 20px;margin-top: 15px;">{{service.nom}}</label>
									<div style="display: flex;color:#241b7c;position: absolute;top: 10px; left: 85%; ">
										{{ include('templates_back/service/_delete_form.html.twig') }}
										<a href="{{ path('app_service_edit',{'idService':service.idService})}}" style="
																																					margin-right:5px;
																																					border-radius:30px;
																																					background-color:#241b7c;
																																					border-color:#241b7c;
																																					height:30px;
																																					width:30px;
																																					display: flex;
																																					justify-content: center;
																																					align-items: center;
																																					color:white">
											<i class='bx bx-edit' style="font-size:20px"></i>
										</a>
									</div>
								</div>
							</div>
						{% endfor %}
					</div>
				{% else %}
					<div class="placeholder-content">
						<img
						style="height:250px;width:250px" class="light-image" src="{{asset('assets/img/illustrations/placeholders/search-4.svg')}}" alt=""/>
						{# <img class="dark-image" src="{{asset('assets/img/illustrations/placeholders/search-4.svg')}}" alt=""/> #}
						<h3 class="dark-inverted">Pas de services !</h3>
						<p>Veillez ajouter des services pour pouvoir les visualiser
						</p>
					</div>
				{% endif %}

				{# ------------------------------------------------------------------------------------------- #}
				{% if services.totalItemCount > 0 %}
					<div class="pagination justify-content-center" style="position: absolute;top: 90%; left: 30%;margin-top:10px;">
						{{ knp_pagination_render(services,'bootstrap_v4_pagination.html.twig') }}
					</div>
				{% endif %}
				<br>

			</center>
		</div>


		<ul id="search-results"></ul>
		{# <a href='{{path('app_service_index1')}}'>fdghjklmù</a> #}

	</center>
	{# -------------------------------------------------------------------------- #}
	<!-- jQuery -->
	<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
	<!-- Popper.js -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.9.3/umd/popper.min.js"></script>
	<!-- Bootstrap JS -->
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
	<!-- Modal -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
				<script>
					$(document).ready(function () {
			$('#search-term').keyup(function () {
			var searchTerm = $(this).val();

			$.ajax({
			type: 'POST',
			url: '{{ path('app_service_search') }}',
			data: {
			searchTerm: searchTerm
			},
			success: function (data) {
			var results = '';

			$.each(data, function (index, value) {
			results += '<div class="card" style="margin-top:-10px;box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);width:90%;border-radius:14px;height:50px;background-color:white">' +
				'<div style="display: flex;">' +
					'<label style="color:#241b7c;margin-right: 30%;margin-left: 20px;margin-top: 15px;">' + value.nom + '</label>' +
					'<div style="display: flex;color:#241b7c;position: absolute;top: 10px; left: 85%;">' +
						
					'</div>' +
				'</div>' +
			'</div>';

			});

			$('#search-results').html(results);
			}
			});
			});
			});
				</script>
{% endblock %}
