{% extends 'baseAdmin.html.twig'%}

{% block content %}
	<div
		class="page-breadcrumb d-none d-sm-flex align-items-center mb-3">
		{# -------------------------------------------------------------------------- #}
		<div style="color:#758afd;font-size:25px;font-style:bold">Service</div>
		<div class="search-bar flex-grow-1" style="margin-left:20%;">
			<div class="position-relative search-bar-box">
				<form id="annuite_form" class="form" action="{{ path('app_service_index') }}" enctype="multipart/form-data" method="GET">
					<input type="text" name="search" style="border-radius:20px;border: 2px solid #aeb8ff  " class="form-control search-control" id="placeholder1" placeholder="Rechercher...">
				</form>
				<span class="position-absolute top-50 search-show translate-middle-y">
					<i class='bx bx-search' style="color:#aeb8ff"></i>
				</span>
				<span class="position-absolute top-50 search-close translate-middle-y">
					<i class='bx bx-x' style="color:white"></i>
				</span>
			</div>
		</div>
		{# -------------------------------------------------------------------------- #}
		<div class="ms-auto">
			<div
				class="btn-group">
				{# -------------------------------------------------------------------------- #}

				<a href="{{ path('app_service_new') }}" class="btn btn-info" style="border-radius:10px;color:white;background-color:#aeb8ff;border-color:#aeb8ff;font-size:19px">Créer un service</a>

				{# -------------------------------------------------------------------------- #}
			</div>
		</div>
	</div>
	{# -------------------------------------------------------------------------- #}
	<div class="card">
		<div class="card-body">
			<div
				class="table-responsive">
				{# -------------------------------------------------------------------------- #}
				<table
					id="example" class="table table-bordered" style="
						width:100%;
						border-color:#aeb8ff;
						border-radius:30px">
					{# -------------------------------------------------------------------------- #}
					<thead>
						<tr style="color:#27187f">
							<th>Nom du service</th>
							<th>Action</th>
						</tr>
					</thead>
					{# -------------------------------------------------------------------------- #}
					<tbody>
						{% for service in services %}
							<tr style="color:#27187f">
								<td>{{service.nom}}</td>
								<td>
									<div style="display: flex; align-items: center;">
										{{ include('templates_back/service/_delete_form.html.twig') }}
										<a  href="{{ path('app_service_edit',{'idService':service.idService}) }}" style="
																								border-radius:40px;
																								background-color:#758afd;
																								border-color:#758afd;
																								height:30px;
																								width:30px;
																								display: flex; justify-content: center; align-items: center;
																								color:white"><i class='bx bx-edit' style="font-size:20px"></i></a>
									</td>
								</td>
							</tr>
						{% endfor %}
					</tbody>
					{# -------------------------------------------------------------------------- #}
					<tfoot>
						<tr>
							<th style="color:#27187f">Nom du service</th>
							<th style="color:#27187f">Action</th>
						</tr>
					</tfoot>
					{# -------------------------------------------------------------------------- #}
				</table>
				{# -------------------------------------------------------------------------- #}
			</div>
		</div>
	</div>
	{# -------------------------------------------------------------------------- #}


	<!-- jQuery -->
	<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
	<!-- Popper.js -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.9.3/umd/popper.min.js"></script>

	<!-- Bootstrap JS -->
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
	<!-- Modal -->
{% endblock %}
